/**{padding: 0; margin: 0;}*/

.App {
  text-align: center;
}

.inputGrid{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 70%;
  margin: auto;
}

.slide-label{
  font-size: 70%;
}

.main-header{ margin-bottom: 3px;}
.sub-header{ margin-top: 1px;}

.water, .ratio, .beans{
  margin-top: 40px;
}

strong{
  color: blue;
}
